/* Global Colors */
:root {
  --dark-grey: #222222;
  --nude-black:#F2D2BD;
}
.red-text {
  color: red;
}

/* Blur Images on local dev environment */
/* .filter-all-media img,
.filter-all-media video,
.filter-all-media iframe,
.filter-all-media div[style*="url"],
.filter-all-media span[style*="url"],
.filter-all-media a[style*="url"],
.filter-all-media i[style*="url"] {
  filter: blur(50px) !important;
} */
.w-full{
  width: 100%;
}
.mb-2{
  padding-bottom: 10px;
}

/* single product page */
/* .mui-style-edjlcb-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}
.mui-style-pu96wc-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}
.mui-style-sis2q8-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}
.mui-style-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}
.mui-style-y3t2ux-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}

.mui-style-mki7yc-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}
.mui-style-1oebqfd-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  padding: 6px 14px !important;
}
.mui-style-1jvwwtw-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: 0px !important;
  padding: 12px 14px !important;
}

.mui-style-ckbi12-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 0px !important;
  padding: 0px 14px !important;
} */
/* Navbar styles */
.search-box {
  border-radius: 0;
  border: 1px solid #ccc !important;
  padding: 11px;
  font-size: 14px;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.search-box:focus {
  outline: none;
}
.search-box::placeholder {
  color: #222222;
}
.nav-icon {
  color: #222222 !important;
}
.cart-product-image {
  object-fit: cover;
}


.footer-grey-text {
  color: var(--grey-text-color);
}
.footer-navbar{
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.footer-navbar:hover{
  text-decoration: underline;
}

.footer-div {
  /* display: none; */
  background-color: #C8C6B6 !important;
  /* padding: 50px; */
}
.footer-content {
  max-width: 1170px;
  padding:50px 15px;
  margin: 40px auto;
  margin-top: 0;
}
footer .Mui-disabled {
  background-color: transparent !important;
  opacity: 1 !important;
}
.accordion-details {
  color: var(--grey-text-color);
}
.accordion-details fieldset {
  border-color: #444444 !important;
  border-radius: 0 !important;
}
.accordion-details a {
  text-decoration: none;
  color: inherit;
}
.footer-address {
}
.footer-services-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-services-list a:hover {
  color: #fff;
}
.footer-logo-icon {
  max-width: 220px;
  max-height: 220px;
}
.footer-pages{
  max-width: 1170px;
  margin: 20px auto;
  margin-top: 0;
}

/* Top category style */
.category-paper {
  padding: 4px 4px 0 4px !important;
}
.category-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin-bottom: -2px;
}
@media (max-width: 500px) {
  .category-img {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 320px) {
  .category-img {
    width: 100px;
    height: 100px;
  }
}
.cat-name {
  margin-top: 2px;
  text-align: center;
  font-size: 14px;
  color: var(--dark-grey);
}
.cat-grid-item a {
  text-decoration: none;
}

/* Home Styles */
.home-content {
  max-width: 1170px;
  padding: 15px;
  margin: 30px auto;
  margin-top: 0;
}
@media screen and (max-width: 500px) {
  .home-content {
    margin: 0 auto;
  }
}

.prod-box-sizes-button {
  border: none;
  font-weight: 600;
  font-size: 13px;
  background-color: #eef3f5;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 7px;
}

/* Product */
.pd-details .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.pd-details .swiper-slide {
  background-size: cover;
  background-position: center;
}

.pd-details .swiper-view {
  height: 500px;
  width: 100%;
}

.pd-details .swiper-button-disabled {
  pointer-events: unset !important;
}

@media screen and (max-width: 600px) {
  .pd-details .swiper-view {
    height: 480px;
  }
}

.pd-details .swiper-preview {
  height: 20%;
  box-sizing: border-box;
  /* padding: 10px 10px; */
}

.pd-details .swiper-preview .swiper-slide {
  width: 30%;
  height: 80%;
  opacity: 0.4;
  margin-top: auto;
  margin-bottom: auto;
}

.pd-details .swiper-preview .swiper-slide-thumb-active {
  opacity: 1;
}

.pd-details .swiper-slide .iframe-container-div::after { content: ""; background: transparent; width: 100%; height: 100%; min-height: 1px; position: absolute; top: 0; }
.pd-details .swiper-slide .iframe-container-div,
.pd-details .swiper-slide iframe,
.pd-details .swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(175, 168, 168) !important;
}

/* Red Cross sign style */
.cross {
  position: relative;
  display: inline-block;
  color: #222222;
}
.cross::before,
.cross::after {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}
.cross::before {
  border-bottom: 3px solid red;
  -webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
}
.cross::after {
  border-bottom: 3px solid red;
  -webkit-transform: skewY(30deg);
  transform: skewY(30deg);
}
.order-form fieldset:focus {
  outline: none !important;
  border: none !important;
}

@keyframes png-animatide {
  0%    { opacity: 0; }
  20%   { opacity: 1; }
  80%   { opacity: 0; }
  100%  { opacity: 1; }
}


@media screen and (max-width: 899px) {
  .mui-style-1ugrs3c-MuiPaper-root-MuiAppBar-root,
  .mui-style-1bc64jo{
    position:  relative ;
  }
}



/*  imageMagnifyer */
#SelectDropdown {
  border: none;
  background: none;
  outline: none; /* Remove default focus outline */
}

#SelectDropdown:hover,
#SelectDropdown:focus {
  border: none; /* Remove border on hover and focus */
}

.goog-te-banner-frame {
  display: none !important;
}
.goog-te-gadget {
  font-family: arial;
  font-size: 11px;
  color: #666;
  white-space: nowrap;
  display: contents !important;
}

.goog-te-gadget-simple {
  background-color:transparent !important;
  border-left:  none !important;
  border-top: none !important;
  border-bottom:  none !important;
  border-right:  none !important;
  font-size: 10pt;
  display: inline-block;
  padding-top:  none !important;
  padding-bottom:  none !important;
  cursor: pointer;
}

.goog-te-gadget-simple img{
  background-image: none !important;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed span {
  border-left:  none !important;
}

.VIpgJd-ZVi9od-ORHb { 
  margin: 0;
  background-color: transparent !important;
  overflow: hidden;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  left: 0;
  top: 0;
  height: 39px;
  width: 100%;
  z-index: 10000001;
  position: fixed;
  border: none;
  border-bottom: none !important;
  margin: 0;
  box-shadow: none !important;
  display: none !important;

}

.goog-te-combo, .VIpgJd-ZVi9od-ORHb *, .VIpgJd-ZVi9od-SmfZ *, .VIpgJd-ZVi9od-xl07Ob *, .VIpgJd-ZVi9od-vH1Gmf *, .VIpgJd-ZVi9od-l9xktf * {
  font-family: arial;
  font-size: 10pt;
  min-width: 80px !important;
  max-width: 80px !important;
}

.mui-style-1pto8sg{
margin: 0px !important;

/* border-bottom: 10px solid #E7E7E7; */
}

.product-card-desing:hover{
  /* border: none !important; */
}

.product-card-bottom-part {
  
}




.full-product-card  .product-card-bottom-part {
  border: 1px solid lightgray;
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -7px;
  /* transform: translateY(-8px); */
  /* border: 0px !important; */
}

 .product-card-bottom-part:hover {
  border: none !important;
  /* transform: translateY(8px); */
}

.product-card-container:hover .product-card-bottom-part {
  border: none !important;
  /* transform: translateY(8px); */
}

.product-card-bottom-part{
  padding: 19px 0 19px 0;
}



.body {
  /* max-width: 1024px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.image {
  flex: 0 0 100%;
}

.text {
  border-left: 2px solid grey;
  padding: 40px;
  font-family: sans-serif;
}

@media (min-width: 415px) {
  .body {
    flex-direction: row;
  }

  .image {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  .image {
    flex: 0 0 33.5%;
  }
}

/* #carsds{
  margin-top: 200px;
} */
.card_main{
  width: 25%;
  position: relative;
}
.card_pos img{
  width: 280px;
  border-radius: 50%;
  height:280px;
}
.catergory_line{
  width: 250px;
  height: 250px;
  border: 3px solid #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
 
}
.catergory_name {
  top: 191px;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  margin-left: 57px;
  background: rgb(255 255 255/80%);
  text-align: center;
  padding: 5px;
  width: 166px;
  z-index: 99999;
  color: #000;
  
}

@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  .category-card {
    display: flex;
    justify-content: center;
  }
}
